RewriteEngine On

# Redirect to Subfolder
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^index.(.*)?$ http://%{SERVER_NAME}/cesar_delgado/src/ [r=301]
